@tailwind base;
@tailwind components;
@tailwind utilities;


.icon {
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    size: 10em;
  }
  .icon:hover {
    color: rgba(16, 185, 129, var(--tw-bg-opacity));
  }